.left {
  width: 75%;
}

.right {
  width: 24%;
}

.left-right-separator {
  width: 0.8%;
}

.podcaster-board {
    width: 58%!important;
    background-color: white;
}

.w-1 {
    width: 1%!important;
}

.h-18 {
  height: 18%;
}

.h-80 {
  height: 80%;
}

.profile {
  height: 16%;
  min-height: 135px;
  background-color:white;
}

.reward {
  height: 83%;
  background-color:white;
}

.profile-reward-separator {
  height: 0.8%;
  width: 100%;
}

.ad-podcaster-separator {
  height: 1.5%;
  width: 100%;
}

.video {
  width: 41% !important;
  background: rgba(0,0,0,1);
  opacity: 0.6;
  border-radius: 4px;
  position: relative;
}
