.left {
  width: 75%;
}

.right {
  width: 24%;
}

.left-right-separator {
  width: 0.8%;
}

.w-58 {
    width: 58%!important;
}

.w-41 {
    width: 41%!important;
}

.w-1 {
    width: 1%!important;
}

.h-18 {
  height: 18%;
}

.h-80 {
  height: 80%;
}

.profile {
  height: 16%;
  min-height: 135px;
  background-color:white;
}

.reward {
  height: 83%;
  background-color:white;
}

.profile-reward-separator {
  height: 0.8%;
  width: 100%;
}

.ad-podcaster-separator {
  height: 1.5%;
  width: 100%;
}