<div class="h-100" style="background-color:lightgray;">
  <div class="row h-100 no-gutters">
    <!-- 广告、播客、视频 -->
    <div class="left h-100">
      <!-- 广告 -->
      <div class="row no-gutters h-18">
        <div class="col-sm h-100">
          <app-ad></app-ad>
        </div>
      </div>
      <div class="ad-podcaster-separator"></div>
      <!-- 播客、视频 -->
      <div class="row no-gutters h-80">
        <!-- 播客 -->
        <div class="podcaster-board">
          <app-podcaster-board></app-podcaster-board>
        </div>
        <div class="w-1"></div>
        <!-- 视频 -->
        <div class="video">
          <app-video-board></app-video-board>
        </div>
      </div>
    </div>
    <div class="left-right-separator"></div>
    <!-- 用户信息、打赏排行榜 -->
    <div class="right">
      <!-- 用户信息 -->
      <div class="row no-gutters profile">
        <div class="col-12">
          <app-profile [user]="generalService.user" (onEditProfile)="editProfile()" (onShowRewardHistory)="showRewardHistory()"></app-profile>
        </div>
      </div>
      <div class="profile-reward-separator"></div>
      <!-- 打赏排行榜 -->
      <div class="row no-gutters reward">
        <div class="col-12">
          <app-reward-history *ngIf="displayRewardHistory"></app-reward-history>
          <app-profile-editing [user]="generalService.user" *ngIf="displayProfileEditing"></app-profile-editing>
        </div>
      </div>
    </div>
  </div>
</div>
