<div class="row no-gutters">
    <div class="w-10">
        <img id="avatar" src="{{reward.Avatar}}" class="rounded-circle" alt="{{reward.FromUser}}">
    </div>
    <div class="w-90">
        <div class="col-12">
            {{reward.FromUser}}
            <div class="row no-gutters float-right">
                <div class="col-12">
                    <div class="float-right">打赏{{reward.Price}}</div>
                </div>
                <div class="col-12">
                    <div class="float-right">{{reward.Time}}</div>
                </div>
            </div>
        </div> 
    </div>
</div>