<div class="row no-gutters pt-2">
  <div class="avatar">
    <img src="{{user.avatar}}" class="w-67 rounded-circle" alt="{{user.nickname}}">
  </div>
  <div class="info">
    <div class="text-name">{{user.nickname}}</div>
    <div class="text-other">余额</div>
    <div class="row no-gutters mt-2">
      <div class="col-sm-4">
        <img src='../../../assets/images/profile/ico_class.png' class="icon">
        <span class="text-other ml-1">等级</span>
      </div>
      <div class="col-sm-4">
        <img src='../../../assets/images/profile/ico_success.png' class="icon">
        <span class="text-other ml-1">成就</span>
      </div>
      <div class="col-sm-4">
        <img src='../../../assets/images/profile/ico_guanzhu.png' class="icon">
        <span class="text-other ml-1">关注</span>
      </div>
    </div>
    <div class="row no-gutters mt-3">
      <div class="col-sm-6">
        <button type="button" class="btn button" (click)="editProdile()">编辑资料</button>
      </div>
      <div class="col-sm-6">
        <button type="button" class="btn button" (click)="showRewardHistory()">打赏记录</button>
      </div>
    </div>
  </div>
</div>
