#message-input-area {
  position: absolute;
  bottom: 19px;
  left: 12px;
}

#messages {
  position: absolute;
  bottom: 39px;
  left: 12px;
}

.w-63 {
  width: 63% !important;
}

input.transparent {
  background-color: rgba(51,51,51,0.4) !important;
  border: none !important;
}

