#message-input-area {
  position: absolute;
  bottom: 19px;
  left: 12px;
}

#messages {
  position: absolute;
  bottom: 69px;
  left: 12px;
  height: 40%;
  width: 100%;
  overflow: auto;
}

.w-63 {
  width: 63% !important;
}

.message-input {
  background-color: rgba(51,51,51,0.4) !important;
  border: none !important;
  border-radius:15px;
  width: 63% !important;
  height: 4% !important;
}

.btn-send {
  background-color: white;
  border-radius:15px;
  width: 13% !important;
  height: 4% !important;
  color:red;
  font-size: 0.8vw;
  padding: 4px;
}

.btn-circle {
  width: 6%;
  cursor: pointer;
}

