.root {
  height: 100%;
}

.edit-area {
  padding-left: 5%; 
  padding-right: 5%; 
  padding-top: 5%;
}

.profile-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  color: rgba(153,153,153,1);
}
