<!--<div class="d-flex flex-row bd-highlight mb-3">
    <div class="bd-highlight ml-2 mt-2">
        <img src="{{user.Avatar}}" class="rounded-circle" alt="{{user.HostName}}" style="width: 40px; height: 40px;"> 
    </div>
    <div class="mt-2">
        <div class="bd-highlight">{{user.HostName}}</div>
        <div class="bd-highlight">余额</div>
    </div>
</div>-->
<div class="row no-gutters p-sm-2">
  <div>
    <img id="avatar" src="{{user.Avatar}}" class="rounded-circle" alt="{{user.HostName}}">
  </div>
  <div class="ml-sm-2">
    <div class="bd-highlight">{{user.HostName}}</div>
    <div class="bd-highlight">余额</div>
    <div class="row no-gutters">
      <div class="col-sm-4">等级</div>
      <div class="col-sm-4">成就</div>
      <div class="col-sm-4">关注</div>
    </div>
    <div class="row no-gutters">
      <div class="col-sm-6">
        <button type="button" class="btn btn-danger">编辑资料</button>
      </div>
      <div class="col-sm-6">
        <button type="button" class="btn btn-danger">打赏记录</button>
      </div>
    </div>
  </div>
</div>
