
  <div class="h-100">
      <div id="title-bar" class="row no-gutters">
          <div class="col-sm d-flex align-items-center justify-content-center">
            <button type="button" class="btn title-bar-btn" 
            [ngClass]="{'title-bar-btn-active' : displayType == DisplayTypes.Hot, 'title-bar-btn-inactive' : displayType == DisplayTypes.Followed}" 
            (click)="onClickHot()">热门</button>

            <button type="button" class="btn title-bar-btn" 
            [ngClass]="{'title-bar-btn-active' : displayType == DisplayTypes.Followed, 'title-bar-btn-inactive' : displayType == DisplayTypes.Hot}" 
            (click)="onClickFollowed()">关注</button>
          </div>
      </div>

    <div class="row no-gutters">
      <div class="col-4" *ngFor="let podcaster of podcasters; let i = index">
        <app-podcaster [podcaster]="podcaster" [rMargin]="i % 3 != 2"></app-podcaster>
      </div>
    </div>
  </div>
